.editor-group-watermark .letterpress,
.editor-group-watermark > .letterpress {
  background-image: none !important;
  background-image: url("https://images.cnblogs.com/cnblogs_com/blogs/765666/galleries/2417307/o_240821125700_VSCode-Thick.png") !important;
  opacity: 0.75 !important;
  background-position: center;
}
