.editor-group-watermark>.letterpress {
    background-image: url("https://raw.githubusercontent.com/Aikoyori/ProgrammingVTuberLogos/main/VSCode/VSCode.png") !important;
    opacity: 0.75;
    overflow: visible;
    filter: none;
    transform: scale(1.5, 1.5);
}

@media (prefers-color-scheme: dark) {
}
